<div class="content">
  <p></p>
  <div class="negative_formwrap">
    <h4>Login or <%= link_to "Register for a new account", new_user_path %></h4>
    <%= render "logins/login_form" %>
  </div>
</div>