<div class="new_problem">
  <%= form_for @problem, :url => problems_path do |f| %>
    <%= f.text_field :description, placeholder: "Problem description" %><br>
    <%= f.text_area :attempt, placeholder: "What you've tried so far to solve the Problem" %><br>
    <%= f.button :submit, class: "btn btn-large btn-success" %>
  <% end %>
</div>