<div class="content">
  <h1>Mo' Problems</h1>
  <p>Where collaboration ends frustration!</p>
  <% if logged_in? %>
  <% else %>
    <%= render "layouts/getting_started" %>
  <% end %>
  <br>
  <b>List of Unanswered Problems</b> (listed in chronological order, with oldest on top)
  <br>
  <br>For each, include:
  <ul>
    <li>Entrant's name</li>
    <li>Truncated description</li>
    <li>Date/time created</li>
    <li>Link to problem's show page</li>
  </ul>
</div>


