<h1>Mo' Problems</h1>
<p>Where aggregation ends frustration!</p>

<br>Here’s a quick rundown of how it works:

<table>
  <tr>
    <td>
      <i class="fa fa-question fa-4x" ></i> Post a <b>Problem</b> you’re having and what you’ve tried to do to solve it so far.
    </td></tr>
  <tr><td>
    <i class="fa fa-envelope-o fa-4x"></i> We’ll email you a link to your Problem page after it’s been successfully submitted.
  </td></tr>
  <tr><td>
    <i class="fa fa-users fa-4x"></i> Other users can leave <b>Notes</b> about your with suggested solutions. (We’ll email you every time someone leaves a Note.)
  </td></tr>
  <tr><td>
    <i class="fa fa-thumbs-up fa-4x"></i> Once you’ve found a solution to your Problem, let us know!
  </td></tr>
</table>

<br><b>List of Unanswered Problems</b> (listed in chronological order, with oldest on top)
<br>
<br>For each, include:
<ul>
  <li>Entrant's name</li>
  <li>Truncated description</li>
  <li>Date/time created</li>
  <li>Link to problem's show page</li>
</ul>