<div class="content">
  <p></p><h1>Mo' Problems</h1>
  . . . where collaboration ends frustration.
  <div class="gap">
  </div>
  <% if !logged_in? %>
    <%= render "layouts/getting_started" %>
  <% end %>
  <br>
  <h3 class="dark">Current Problems</h3>
  <div id="problems">
    <%= render @problems %>
  </div>
  <div class="paginate">
    <b><%= will_paginate @problems %></b>
  </div>
</div>


