<div class="content">
  <h1>Mo' Problems</h1>
  <p>Where collaboration ends frustration!</p>

  <br>Here’s a quick rundown of how it works:

  <table>
    <tr>
      <td>
        <div class="icon">
          <i class="fa fa-question fa-4x" ></i>
        </div>
      </td>
      <td>
        <div class="explain">
          Post a <b>Problem</b> you’re having and what you’ve tried to do to solve it so far.
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="icon">
          <i class="fa fa-envelope-o fa-4x"></i>
        </div>
      </td>
      <td>
        <div class="explain">
          We’ll email you a link to your Problem page after it’s been successfully submitted.
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="icon">
          <i class="fa fa-users fa-4x"></i>
        </div>
      </td>
      <td>
        <div class="explain">
          Other users can leave <b>Notes</b> about your Problem with suggested solutions. (We’ll email you every time someone leaves a Note.)
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="icon">
          <i class="fa fa-thumbs-up fa-4x"></i>
        </div>
      </td>
      <td>
        <div class="explain">
          Once you’ve found a solution to your Problem, let us know!
        </div>
      </td>
    </tr>
  </table>

  <br>
  <b>List of Unanswered Problems</b> (listed in chronological order, with oldest on top)
  <br>
  <br>For each, include:
  <% @problems.each do |problem| %>
  <ul>
    <li><%= problem.description %></li>
    <li><%= problem.attempt %></li>
    <% user = User.where(id: problem.user_id)%>
    <li><%= user.email %></li>
    <li><%= link_to 'Read More...', problem_path(problem) %></li>
  </ul>
  <% end %>
</div>


