<div class="content">
  <h1>Submit a Problem</h1>
  <p>Please provide a brief description of the problem and what you've tried to solve it so far.</p>
  <div class="formwrap">
    <%= render "problems/problem_form" %>
  </div>
</div>