/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 *= require foundation_and_overrides

 */


/* color palette for site:
#D77A44 - burnt orange
#B1C392 - light pale green
#274245 - dark blue-green
#DFD6AE - creamy tan
#FEFEFE - basically white
*/


/* navbar stuff*/
.topnav {
    background-color: #B1C392;
    color: #274245;
    height: 28px;
    text-align: center;
}

#navlist li
{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.current_user {
    color: #274245;
    margin-top: 9px;
}


/* general stuff */

body {
    background-color: #fefefe;
    font-family: Helvetica Neue;
    font-size: 15px;
    color: #274245;
    min-width: 755px;
}

h1 {
    color: #d77a44;
    font-weight: bold;
    text-shadow: 1px 1px 1px grey,
    1px 1px 1px #000;
}

h3 {
    color: #d77a44;
    font-weight: bold;
}

.content {
    margin: 0px 50px 0px 50px;
    max-width: 775px;
}

a:link {
    color: #c46e3c;
}

a:visited {
    color: #c46e3c;
}

a:hover {
    color: #274245;
}

a:active {
    color: #274245;
}

/* on root (problems index) page */

table {
    width: 700px;
}

.icon {
    text-align: center;
    color: #274245;
}

.explain {
    color: #274245;
}

.problem_list {
    background-color: #DFD6AE;
}

#problemlist li
{
    list-style-type: none;
    padding-right: 20px;
}

.asked_by
{
    font-size: 11px;
}

/* for form pages */

.formwrap {
    max-width: 500px;
}

.negative_formwrap {
    margin-left: -15px;
    max-width: 500px;
}
