<br>Here’s a quick rundown of how <b>Mo' Problems</b> works:

<table>
  <tr>
    <td>
      <div class="icon">
        <i class="fa fa-question fa-4x" ></i>
      </div>
    </td>
    <td>
      <div class="explain">
        Post a <b>Problem</b> you’re having and what you’ve tried to do to solve it so far.
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="icon">
        <i class="fa fa-envelope-o fa-4x"></i>
      </div>
    </td>
    <td>
      <div class="explain">
        We’ll email you a link to your Problem page after it’s been successfully submitted.
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="icon">
        <i class="fa fa-users fa-4x"></i>
      </div>
    </td>
    <td>
      <div class="explain">
        Other users can leave <b>Notes</b> about your Problem with suggested solutions. (We’ll email you every time someone leaves a Note.)
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="icon">
        <i class="fa fa-thumbs-up fa-4x"></i>
      </div>
    </td>
    <td>
      <div class="explain">
        Once you’ve found a solution to your Problem, let us know! (Your Problem will no longer be displayed on the site.)
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="icon">
        <i class="fa fa-smile-o fa-4x"></i>
      </div>
    </td>
    <td>
      <div class="explain">
        Return the favor! Help other folks solve their Problems by leaving your own Notes.
      </div>
    </td>
  </tr>
</table>