<div class="topnav">
  <ul id="navlist">
    <li>
      <%= link_to 'All Problems', root_path %>
    </li>
    <li> Sign Up
      <!--<#= link_to "Sign Up", new_user_path %>-->
    </li>
    <!--<# if logged_in? == nil %>-->
      <li class="active"> Login
        <!--<#= link_to "Login", new_login_path %>-->
      </li>
    <!--<# end %>
    <# if logged_in? %>-->
      <li>
        <span class="current_user">
          Logged in as <b>Some Unidentified Human</b>
          <!--<#= current_user.name %>-->
        </span>
      </li>
      <li> Logout
        <!--<#= link_to "Logout", login_destroy_path, :method => :delete %>-->
      </li>
    <!--<# end %>-->
  </ul>
</div>